
    <div class="row">
      <%= form_for [product, review] do |f| %>
        <% if review.errors.any? %>
          <div>
            <h2><%= pluralize(review.errors.count, "error") %> stopped this review</h2>
            <ul>
              <% review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <% star_rating = (1..5).map { |num| [num]} %>
          <%= f.label :rating %>
          <%= f.select :rating, class: "form-control" do %>
            <%= options_for_select star_rating %>
          <% end %>
        </div>
        <%= f.submit "Send Review", class: "btn btn-primary" %>
      <% end %>
    </div>
